.card-name {
  font-size: 18px;
  font-weight: 300;
}

.card-location {
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #979797;
  background: #fff;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 30px 15px;
}

.card-description {
  padding: 20px;
}
