.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  background: #9c3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
  height: 40px;
  margin: 0 -12px;

  &.t-blue {
    background: #00a8b1;
  }
}
